port: 8080
public:
  name: {{ mrs_public_name }}
  ui: {{ mrs_public_ui }}
  api: {{ mrs_public_api }}
proxy:
  server: {{ mrs_proxy_server }}
  token: {{ mrs_proxy_token }}
auth:
  admin:
    login: {{ mrs_auth_admin_login }}
    password: {{ mrs_auth_admin_password }}
    ips: {{ mrs_auth_admin_ips }}
  discovery:
    login: {{ mrs_auth_discovery_login }}
    password: {{ mrs_auth_discovery_password }}
  moderation:
    login: {{ mrs_auth_moderation_login }}
    password: {{ mrs_auth_moderation_password }}
  search:
{% for item in mrs_auth_search|default({})|dict2items %}
    {{ item.key }}: {{ item.value }}
{% endfor %}

cache:
  max_age: {{ mrs_cache_max_age }}
  bunny:
    url: {{ mrs_cache_bunny_url }}
    key: {{ mrs_cache_bunny_key }}
cron:
  discovery: {{ mrs_cron_discovery }}
  parsing: {{ mrs_cron_parsing }}
  indexing: {{ mrs_cron_indexing }}
  full: {{ mrs_cron_full }}
path:
  index: {{ mrs_path_index }}
  data: {{ mrs_path_data }}
batch:
  rooms: {{ mrs_batch_rooms }}
moderation:
  webhook: {{ mrs_moderation_webhook }}
workers:
  discovery: {{ mrs_workers_discovery }}
  parsing: {{ mrs_workers_parsing }}
email:
  postmark:
    server_token: {{ mrs_email_postmark_server_token }}
    report:
      message_stream: {{ mrs_email_postmark_report_message_stream }}
      from: {{ mrs_email_postmark_report_from }}
  templates:
    report:
      subject: {{ mrs_email_templates_report_subject|to_yaml }}
      body: {{ mrs_email_templates_report_body|to_yaml }}
languages: {{ mrs_languages }}
servers: {{ mrs_servers }}

# vi: ft=yaml
